.services {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 8px 26px 18px;
    background: linear-gradient(180deg, #64E9EE -55.42%, rgba(58, 147, 185, 0.8) 34.73%, rgba(58, 147, 185, 0.8) 68.67%, #64E9EE 179.24%);
}