@import "../../css-variables.scss";

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 26px 18px;
  background: linear-gradient(
    180deg,
    #64e9ee -55.42%,
    rgba(58, 147, 185, 0.8) 34.73%,
    rgba(58, 147, 185, 0.8) 68.67%,
    #64e9ee 179.24%
  );
}

.services__accordion {
  width: 100%;
}

.services__bar {
  width: 100%;
  margin-bottom: 13px;
  box-sizing: border-box;
  padding: 21px 16px;
  background: linear-gradient(
    360deg,
    rgba(58, 147, 185, 0.8) -192.1%,
    #97c8eb 170.08%
  );
  
  &:last-child {
    margin-right: 0;
  }
}

.services__bar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__bar-controls {
  display: flex;
}

.services__bar-button {
  margin-right: 14px;
  
  &:last-child {
    margin-right: 0;
  }
}

.services__description {
  margin-top: 21px;
}

.services__description-line {
  margin: 0;
  font-size: $FS1240_CARD_BODY;
  line-height: 26px;
  color: $BRIGHT_BLUE_GREEN;
}
