@import "../../css-variables.scss";

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px $paddingBasic 18px;
  background: linear-gradient(
    180deg,
    #64e9ee -55.42%,
    rgba(58, 147, 185, 0.8) 34.73%,
    rgba(58, 147, 185, 0.8) 68.67%,
    #64e9ee 179.24%
  );
}

.services__accordion {
  width: 100%;
}
