@import "../../css-variables.scss";

.section {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  // padding-left: $paddingBasic;
  // padding-right: $paddingBasic;
  padding: $paddingBasic;
  color: #008b8b;
}

.sectionColumn {
  display: flex;
  flex-direction: column;
}

.sectionBody {
  width: $desktopSectionBodyWidth;
}

.sectionSidebar {
  position: sticky;
  top: $sectionSidebarSpacing;
  right: 0;
  width: $desktopSidebarWidth;
  margin-left: auto;
}

.sectionSidebarItem {
  margin-bottom: $sectionSidebarSpacing;
}

.sectionSidebarItem:last-child {
  margin-bottom: 0;
}

.docPhoto {
  // width: 32vw;
  // margin-left: calc(#{$paddingBasic} * 2);
  border-radius: 20px 20px 20px 20px;
  // box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.8);
}

@media (max-width: 700px) {
  .section {
    flex-direction: column;
  }

  .sectionSidebar {
    order: -1;
    align-self: center;
    width: 100vw;
    margin-left: 0;
  }

  .docPhoto {
    margin-bottom: $paddingBasic;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    // object-position: top;
    border-radius: 50%;
  }
}

@media (max-width: 700px) and (min-width: 340px) {
  .docPhoto {
    width: 50vw;
    height: 50vw;
  }
}

@media (max-width: 340px) {
  .docPhoto {
    width: 80vw;
    height: 80vw;
  }
}
