@import "../UIControlsGlobals";
@import "../PinButton/PinButton";

.button__label-and-pin {
  // не переименовывать – зависимость в UIControlsGlobals!
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  background-color: transparent;
  outline: none;

  // width: 189px;
  height: 50px;
  border: 1px solid $PALE_BLUE;
  border-radius: 25px;
  font-size: 22px;
  color: $PALE_BLUE;
  fill: $PALE_BLUE;

  &:hover {
    border: 1px solid $BRIGHT_BLUE_GREEN;
    color: $BRIGHT_BLUE_GREEN;
    fill: $BRIGHT_BLUE_GREEN;
  }

  &:active {
    border: 1px solid $WHITE;
    color: $WHITE;
    fill: $WHITE;
  }
}

.button__pin_type_right-to-label {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: -1px;
}
