@import "../UIControlsGlobals";

$iconWidth: 38px;
$iconHeight: 38px;
$iconMargin: auto 11px auto 0;

%showProperties {
  visibility: visible;
  opacity: 1;
}

%showTransition {
  transition: all .3s ease-in-out;
}

.button__ic-lab {
  @include icon(
    account,
    url(../../images/UI-control-elements/mock-avatar-blue.png),
    $iconWidth,
    $iconHeight,
    $iconMargin
  ); // button__ic-lab_type_account
  @include icon(
    logout,
    url(../../images/UI-control-elements/logout-blue.png),
    $iconWidth,
    $iconHeight,
    $iconMargin
  ); // button__ic-lab_type_logout
  @include icon(
    login,
    url(../../images/UI-control-elements/login-blue.png),
    $iconWidth,
    $iconHeight,
    $iconMargin
  ); // button__ic-lab_type_login
  @include icon(
    signup,
    url(../../images/UI-control-elements/add-user-blue.png),
    $iconWidth,
    $iconHeight,
    $iconMargin
  ); // button__ic-lab_type_signup
}

.button__overCover {
  display: flex;
  justify-content: flex-start;
  width: 249px;
  height: 69.55px;
  padding: 16px 11px 16px 16px;
  background: linear-gradient(
    270deg,
    #ffffff 0%,
    rgba(225, 226, 230, 0.8) 100%
  );
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 22px;
  line-height: 26px;
  color: #176087;
  &:hover {
    background: linear-gradient(269.96deg, #eceff1 0.04%, #c4c4c4 99.96%);
    transition: display 1s ease-in-out 0;
  }
  &:active {
    background: linear-gradient(
      269.96deg,
      #97c8eb 0.04%,
      rgba(151, 200, 235, 0.5) 99.96%
    );
  }
}

.cover__menu-overlay-right {
  // position: fixed;
  // top: 11.06px;
  // right: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 11.06px;
}

.cover__menu-item {
  &_secondary {
    visibility: hidden;
    opacity: 0;
    @extend %showTransition;
  }
  &_principal:hover + &_secondary {
    @extend %showProperties;
    @extend %showTransition;
  }
  &_secondary:hover {
    @extend %showProperties;
  }
}
