@import "../../../css-variables.scss";
// @import "../UIControlsGlobals";

%showProperties {
  visibility: visible;
  opacity: 1;
}

%showTransition {
  transition: all .3s ease-in-out;
}

.cover__overlay-menu-right {
  position: absolute;
  // top: 11.06px;
  // right: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 11.06px;
}

.cover__overlay-menu-item {
  &_secondary {
    visibility: hidden;
    opacity: 0;
    @extend %showTransition;
  }
  &_principal:hover + &_secondary {
    @extend %showProperties;
    @extend %showTransition;
  }
  &_secondary:hover {
    @extend %showProperties;
  }
}

.cover__overlay-menu-button {
  display: flex;
  justify-content: flex-start;
  width: 249px;
  height: 69.55px;
  padding: 16px 11px 16px 16px;
  background: linear-gradient(
    270deg,
    white 0%,
    rgba(225, 226, 230, 0.8) 100%
  );
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 22px;
  line-height: 26px;
  color: $DARK_BLUE;
  &:hover {
    background: linear-gradient(269.96deg, #eceff1 0.04%, #c4c4c4 99.96%);
    transition: display 1s ease-in-out 0;
  }
  &:active {
    background: linear-gradient(
      269.96deg,
      $PALE_BLUE 0.04%,
      rgba(151, 200, 235, 0.5) 99.96%
    );
  }
}

.cover__overlay-menu-icon {
  width: 38px;
  height: 38px;
  margin: auto 11px auto 0;
  object-fit: contain;
  fill: $DARK_BLUE;
}
