@import "../../css-variables.scss";

.cover {
  height: $COVER_HEIHT_1240;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__photo-part {
  position: relative;
  display: flex;
}

.cover__picture {
  overflow: hidden;
  height: $COVER_PHOTO_AREA_HEIGHT_1240;
}

.cover__image {
  width: 100%;
  height: $COVER_PHOTO_AREA_HEIGHT_1240;
  object-fit: cover;
  object-position: center;
}

// @media (min-height: 626px) {
//   .cover__image {
//     width: 104%;
//     object-position: 0 37%;
//   }
// }

// @media (max-width: 1200px) {
//   .cover__image {
//     width: 100%;
//     object-position: center;
//   }
// }

// 701px - 896px
// @media (min-width: $PW_DESKTOP_HEADER_MIN) and (max-width: $PW_TABLET_MAX) {
// 321 – 896
@media (min-width: $PW_TABLET_MIN) and (max-width: $PW_TABLET_MAX) {
  .cover {
    height: $COVER_HEIHT_896;
    flex-direction: row-reverse;
  }

  .cover__picture {
    height: $COVER_PHOTO_AREA_HEIGHT_896;
  }

  .cover__image {
    width: 100%;
    height: 100%;
    object-position: 100% 100%;
  }
}
