@import "../../css-variables.scss";

.cover {
  // height: $COVER_HEIGHT_1240;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__photo-part {
  position: relative;
  display: flex;
}

.cover__picture {
  overflow: hidden;
  height: $COVER_PHOTO_AREA_HEIGHT_1240;
}

.cover__image {
  width: 100%;
  height: $COVER_PHOTO_AREA_HEIGHT_1240;
  object-fit: cover;
  object-position: center;
}

@media (min-width: $PW_TABLET_MIN) and (max-width: 700px) {
  .cover__image {
    transform: translateY(64px);
  }
}

// @media (min-height: 626px) {
//   .cover__image {
//     width: 104%;
//     object-position: 0 37%;
//   }
// }

// @media (max-width: 1200px) {
//   .cover__image {
//     width: 100%;
//     object-position: center;
//   }
// }

// 701px - 896px
// @media (min-width: $PW_DESKTOP_HEADER_MIN) and (max-width: $PW_TABLET_MAX) {
// 321 – 896
@media (min-width: $PW_TABLET_MIN) and (max-width: $PW_TABLET_MAX) {
  .cover {
    height: $COVER_HEIGHT_896;
    flex-direction: row-reverse;
  }

  .cover__picture {
    height: $COVER_PHOTO_AREA_HEIGHT_896;
  }

  .cover__image {
    width: 100%;
    height: 100%;
    object-position: 100% 100%;
  }
}

.cover__name-bar {
  position: absolute;
  top: 11.06px;
  left: 0;
  width: 495px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 7px 22px 7px $paddingBasic;
  border-radius: 0px 5px 5px 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(225, 226, 230, 0.81) 100%
  );
}

.cover__name {
  margin: 0;
  font-weight: 300;
  font-size: $FS1240_HEADER_AND_COVER_NAME;
  line-height: 50px;
  color: $DARK_BLUE;
  text-align: end;
  white-space: pre-wrap;
}

.cover__name-first-line::after {
  content: "\00000a";
  white-space: pre;
  // https://stackoverflow.com/questions/17047694/add-line-break-to-after-or-before-pseudo-element-content
  // https://stackoverflow.com/questions/16595483/how-do-you-add-a-line-break-inside-of-a-javascript-variable-using-kineticjs
}

@media (max-width: $PW_ORIGINAL_PHOTO_MAX) {
  .cover__name-bar {
    width: unset;
  }

  .cover__name-first-line::after {
    content: ". ";
  }
}

@media (max-width: $PW_MOBILE_MAX) {
  .cover {
    margin-top: 74px;
  }
}

// @media (max-width: $HEADER_NAMEBAR_BP) {
//   .cover {
//     margin-top: 60px;
//   }
// }

@media (max-width: $PW_TABLET_MAX) {
  .cover__name-bar {
    top: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: $PW_MOBILE_MAX) {
  .cover__name-bar {
    display: none;
  }
}
