@import "../../../css-variables.scss";
// @import "../UIControlsGlobals";

.socal-media-panel {
  // nav
  box-sizing: border-box;
}

.socal-media-panel-list {
  // ul
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 96.77px;
}

.socal-media-panel-item {
  // li
  box-sizing: border-box;
  border-radius: 50%;
  &:hover {
    box-shadow: 0 0 14px 7px $BRIGHT_BLUE_GREEN;
  }

  &:active {
    box-shadow: 0 0 20px 10px $BRIGHT_BLUE_GREEN;
  }
}

.socal-media-panel-link {
  // a
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  color: $PALE_BLUE;

  &_active {
    background: linear-gradient(360deg, $PALE_BLUE -108%, $DARK_BLUE 34.38%);
    border: none;
    color: $WHITE;
  }
}
