@import "../../../css-variables.scss";
// @import "../UIControlsGlobals";

.button__mob-menu-open-button {
  width: 30px;
  height: 30px;

  &-icon {
    fill: $PALE_BLUE;

    .button__mob-menu-open-button:active & {
      fill: white;
    }
  }
}
