@import "../../../css-variables.scss";
// @import "../UIControlsGlobals";

.button__pin-only {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &_type_opaque {
    background-color: $PALE_BLUE;
    &:hover {
      background-color: $BRIGHT_BLUE_GREEN;
      box-shadow: 0 0 14px 7px $BRIGHT_BLUE_GREEN;
    }

    &:active {
      box-shadow: 0 0 20px 10px $BRIGHT_BLUE_GREEN;
    }
  }
}
