@import '../../css-variables.scss';

$submenuOnePadding: calc(#{$paddingBasic} * 0.4);
$submenuOneHOffset: calc(#{$submenuOnePadding} * -1);
$itemSpacing: calc(#{$submenuOnePadding} * 1);

@mixin headerBlueBar {
  background: linear-gradient(
    0deg,
    rgba(151, 200, 235, 0.17) -220%,
    #176087 88.23%
  );
}

.header {
  box-sizing: border-box;
}

.header__menu {
  box-sizing: border-box;
  @include headerBlueBar();
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 $paddingBasic;
}

.header__menu-top-item {
  position: relative;
}

.header__menu-top-label {
  display: flex;
  align-items: center;
  padding: 14px 0;
  font-weight: normal;
  font-size: $FS1240_HEADER_MENU;
  // line-height: 23px;
  color: $PALE_BLUE;

  &:hover {
    color: $BRIGHT_BLUE_GREEN;
  }

  &:active {
    color: white;
  }

  &_active {
    // header__menu-top-label_active
    color: white;
  }
}

.header__submenu-1 {
  display: none;
  font-size: $FS1240_HEADER_SUBMENU;

  .header__menu-top-item:hover &,
  &:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    padding: $submenuOnePadding;
    background: linear-gradient(
      0deg,
      rgba(51, 92, 121, 0.8) 0%,
      #6598b6 97.73%
    );
  }

  &_align_left {
    left: $submenuOneHOffset;
  }

  &_align_right {
    right: $submenuOneHOffset;
  }
}

.header__submenu-2 {
  padding-left: $submenuOnePadding;
}

.header__menu-item-1 {
  margin-bottom: $itemSpacing;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__menu-item-2 {
  margin-bottom: $itemSpacing;

  &:first-child {
    margin-top: $itemSpacing;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.header__menu-label {
  white-space: nowrap;

  &:hover {
    color: $BRIGHT_BLUE_GREEN;
  }

  &:active {
    color: white;
  }
}

.header__menu-triangle {
  margin-left: 6px;
  fill: $PALE_BLUE;

  .header__menu-top-label:hover & {
    fill: $BRIGHT_BLUE_GREEN;
  }

  .header__menu-top-label:active & {
    fill: white;
  }

  .header__menu-top-label_active & {
    fill: white;
  }
}

.header__name-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 4%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(225, 226, 230, 0.81) 100%
  );
}

.header__name {
  margin: 0;
  font-weight: 300;
  font-size: $FS1240_HEADER_AND_COVER_NAME;
  // line-height: 53px;
  color: $DARK_BLUE;
}

.header__name-first-line::after {
  content: '. ';
}

@media (min-width: $PW_DESKTOP_HEADER_MIN) and (max-width: $PW_TABLET_MAX) {
  // 701 - 896
  .header__menu-top-label {
    font-size: $FS896_HEADER_MENU;
  }

  .header__submenu-1 {
    font-size: $FS896_HEADER_SUBMENU;

    .header__menu-top-item:hover &,
    &:hover {
      flex-direction: row;
    }
  }

  .header__menu-item-1 {
    margin-right: calc(#{$submenuOnePadding} * 3);

    &:last-of-type {
      margin-right: 0;
    }
  }

  .header__name {
    font-size: $FS896_HEADER_AND_COVER_NAME;
  }
}

@media (max-width: $PW_MOB_HEADER_MAX) {
  .header__menu {
    display: none;
  }

  .header__name-bar {
    @include headerBlueBar();
    justify-content: space-between;
  }

  .header__name {
    margin-left: 4%;
    text-align: right;
    font-weight: normal;
    color: $PALE_BLUE;
  }
}

@media (max-width: 395px) {
  .header__name-first-line::after {
    content: '\00000a';
    white-space: pre;
  }
}
