@import "../../css-variables.scss";
@import "../../vendor/fonts/fonts.scss";

.header {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-end;
  box-sizing: border-box;
}

.header__menu {
  box-sizing: border-box;
  background: linear-gradient(
    0deg,
    rgba(151, 200, 235, 0.17) -220%,
    #176087 88.23%
  );
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 $paddingBasic;
}

.header__menu-top-item {
  position: relative;
}

.header__menu-top-label {
  display: flex;
  align-items: center;
  padding: 14px 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: $PALE_BLUE;

  &:hover {
    color: $BRIGHT_BLUE_GREEN;
  }

  &:active {
    color: white;
  }

  &_active {
    // header__menu-top-label_active
    color: white;
  }
}

$submenuOnePadding: calc(#{$paddingBasic} * 0.4);
$submenuOneHOffset: calc(#{$submenuOnePadding} * -1);

.header__submenu-1 {
  display: none;

  .header__menu-top-item:hover &,
  &:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    box-sizing: border-box;
    padding: $submenuOnePadding;
    background: linear-gradient(
      0deg,
      rgba(51, 92, 121, 0.8) 0%,
      #6598b6 97.73%
    );
  }

  &_align_left {
    left: $submenuOneHOffset;
  }

  &_align_right {
    right: $submenuOneHOffset;
  }
}

.header__submenu-2 {
  padding-left: $submenuOnePadding;
}

$itemSpacing: calc(#{$submenuOnePadding} * 0.5);

.header__menu-item-1 {
  margin-bottom: $itemSpacing;

  &:last-child {
    margin-bottom: 0;
  }
}

.header__menu-item-2 {
  margin-bottom: $itemSpacing;

  &:first-child {
    margin-top: $itemSpacing;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.header__menu-label {
  white-space: nowrap;

  &:hover {
    color: $BRIGHT_BLUE_GREEN;
  }

  &:active {
    color: white;
  }
}

.header__menu-triangle {
  margin-left: 6px;
  fill: $PALE_BLUE;

  .header__menu-top-label:hover & {
    fill: $BRIGHT_BLUE_GREEN;
  }

  .header__menu-top-label:active & {
    fill: white;
  }

  .header__menu-top-label_active & {
    fill: white;
  }
}

.header__name-bar {
  display: flex;
  justify-content: center;
  padding: 14px 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(225, 226, 230, 0.81) 100%
  );
}

.header__name {
  margin: 0;
  font-weight: 300;
  font-size: 45px;
  line-height: 53px;
  color: $DARK_BLUE;
}

// V1
.headerBar {
  box-shadow: 0px 0px 20px 8px rgba(154, 180, 228, 0.8);
  box-sizing: border-box;
  width: 100%;
  padding-left: $paddingBasic;
  padding-right: $paddingBasic;
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #008b8b;
}

.headerBarLogo {
  font-family: "Cormorant Infant", serif;
  font-weight: 500;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: $logoFontSize;
  // color: #f55aa6;
  // color: #445778;
  background: #445778;
  background: -webkit-linear-gradient(
    to bottom,
    #445778 20%,
    #f55aa6 50%,
    #445778 90%
  );
  background: -moz-linear-gradient(
    to bottom,
    #445778 20%,
    #f55aa6 50%,
    #445778 90%
  );
  background: linear-gradient(to bottom, #445778 20%, #f55aa6 50%, #445778 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerBarName {
  font-weight: 700;
  font-size: $logoNameFontSize;
  // color: #445778;
}

// .mobileMenuButton {
//   width: 30px;
//   height: 30px;
//   background-image: url(../../images/menu_button.svg);
//   background-size: contain;
//   background-color: transparent;
//   background-repeat: no-repeat;
//   border: none;
// }
