@import '../../css-variables.scss';

.navbar {
  font-size: calc(10px + 2vmin);
}

.navItem {
  margin-right: calc(3px + 1vw);
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  // composes: link from '../../index.scss';
  composes: link from global;
}

.authButton {
  background-color: transparent;
  transform: skew(-9deg);
  border: 1.5px solid #008B8B;
  border-radius: 7px;
  font: inherit;
  color: #008B8B;
}

.authButton__label {
  display: inline-block;
  transform: skew(9deg);
}

.navList {
  margin: auto 0;
  padding: 0;
}
