@import "../../css-variables.module.scss";

.navbar {
  font-size: $menuFontSize;
}

.navItem {
  margin-right: calc(3px + 1vw);
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  // composes: link from '../../index.scss';
  composes: link from global;
}

.navLinkActive {
  font-weight: 900;
  // text-shadow: 4px 4px 3px rgba(0,139,139,0.3);
}

.authButton {
  background-color: transparent;
  transform: skew(-9deg);
  border: 1.5px solid #008b8b;
  border-radius: 7px;
  font: inherit;
  color: #008b8b;
}

.authButton__label {
  display: inline-block;
  transform: skew(9deg);
}

.navList {
  margin: auto 0;
  display: flex;
  // flex-wrap: wrap;
  padding: 0;
}

@media (max-width: 700px) {
  .navList {
    flex-direction: column;
    align-items: flex-end;
  }

  .navItem {
    margin: 0 0 calc(3px + 1vw);
  }

  .navItem:last-child {
    margin: 0;
  }
}

// @media (max-width: 420px) {
//   .navbar {
//     display: none;
//   }
// }

.ariaLabelledTitle {
  composes: ariaLabelledTitle from global;
}
