/* Решил попробовать такой подход: CSS-модули + SCSS + БЭМ без частей "блок__".
CSS-модули – на всякий случай, чтобы в проекте была рекомендованная технология.
SCSS 0 пока только ради переменных и наследования.
БЭМ – без него слишком сложно упорядочивать имена классов.
Без частей "блок__" – для краткости. Все равно у имен блочная видимость. Делать
не более одного блока в одном файле scss.
*/

.inCover {
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 249px;
  height: 69.55px;
  padding: 16px 11px;
  background: linear-gradient(
    270deg,
    #ffffff 0%,
    rgba(225, 226, 230, 0.8) 100%
  );
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 22px;
  line-height: 26px;
  color: #176087;
}

.inCover_principal {
  display: flex;
}

.inCover_secondary {
  display: none;
}

.inCover_principal:hover + .inCover_secondary {
  display: flex;
}

.inCover_secondary:hover {
  display: flex;
}

.inCover:hover {
  background: linear-gradient(269.96deg, #eceff1 0.04%, #c4c4c4 99.96%);
}

.inCover:active {
  background: linear-gradient(
    269.96deg,
    #97c8eb 0.04%,
    rgba(151, 200, 235, 0.5) 99.96%
  );
}

%iconInBtn {
  width: 38px;
  height: 38px;
  margin: auto 16px auto 0;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}

.iconInBtn_accountIcon {
  @extend %iconInBtn;
  background-image: url(../../images/UI-control-elements/mock-avatar-blue.png);
}

.iconInBtn_logoutIcon {
  @extend %iconInBtn;
  background-image: url(../../images/UI-control-elements/logout-blue.png);
  margin-left: 5px;
}

.iconInBtn_loginIcon {
  @extend %iconInBtn;
  background-image: url(../../images/UI-control-elements/login-blue.png);
  margin-left: 5px;
}

.iconInBtn_signupIcon {
  @extend %iconInBtn;
  background-image: url(../../images/UI-control-elements/add-user-blue.png);
  margin-left: 5px;
}
