.button {
  align-items: center;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

// @mixin icon($iconType, $filepath, $width, $height, $margin) {
//   &_type_#{$iconType}::before {
//     content: "";
//     width: $width;
//     height: $height;
//     margin: $margin;
//     background-image: $filepath;
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
//     color: inherit;
//   }
// }
