@import "../../css-variables.scss";

.button {
  align-items: center;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.button_type_icon-only {
  // display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
