@import "../../css-variables.scss";

$pageWidthSectionHeight: 200px;

.ui-dev-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1240px;
  height: 100%;
  margin: 0 auto;
  background-color: #1a1b22;
}

.ui-dev-page__section_width_page {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  box-sizing: border-box; // !!!!!!!!!!!!!!!
  width: 100%;
  min-height: $pageWidthSectionHeight;
  border: 1px solid white;
}

.ui-dev-page__section_bg_photo {
  // height: 400px;
  position: relative;
  background-image: url(../../images/cover/Natasha_original_warm_tone.jpg);
}

.ui-dev-page__section_bg_blue {
  background: linear-gradient(360deg, $PALE_BLUE -51.59%, $DARK_BLUE 112.4%);
}

.ui-dev-page__section_bg_light-blue {
  background: linear-gradient(
    360deg,
    rgba(58, 147, 185, 0.8) -192.1%,
    $PALE_BLUE 170.08%
  );
}

.ui-dev-page__section_bg_wallpaper {
  position: relative;
  background-image: url(../../images/styling-images/wallpaper_background_grey.png);
  background-repeat: repeat;
  background-size: 450.56px;
}

.ui-dev-page__text-dimmer-on-wallpaper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 92px;
  background: linear-gradient(
    178.38deg,
    rgba(255, 255, 255, 0) -152.41%,
    #ffffff 79.97%
  );
}

.aux {
  margin: 10px;
}
