@import "../../css-variables.scss";

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px $paddingBasic;
  background: linear-gradient(
    180deg,
    #64e9ee -55.42%,
    rgba(58, 147, 185, 0.8) 34.73%,
    rgba(58, 147, 185, 0.8) 68.67%,
    #64e9ee 179.24%
  );
  // overflow: hidden;
}

.gallery {
  width: 100%;
  overflow-x: scroll;
  margin-top: 10px;
  display: flex;
}

.gallery__image {
  width: 200px;
  object-fit: contain;
  margin-right: 7px;
}

// .gallery__popup {
//   position: fixed;
//   left: calc((100% - #{$PW_DESKTOP_MAX}) / 2);
//   width: $PW_DESKTOP_MAX;
//   height: 100%;
//   background-color: rgba(46, 92, 132, .8);
//   display: flex;
//   justify-content: center;
// }

.gallery__popup-image {
  height: 90%;
}
