@import '../../css-variables.module.scss';

.section {
  padding-left: $paddingBasicSide;
  padding-right: $paddingBasicSide;
  color: #008B8B;
}

.headline {

}

.parapraph {
  text-align: justify;
}
