@import "../../css-variables.scss";

.textBlock {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // padding-top: $paddingBasic;
  // padding-bottom: $paddingBasic;
  padding: calc(#{$paddingBasic} * .4);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px 20px 20px 20px;
  // box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.8);
  font-size: $bodyFontSize;
}

.headline {
  margin: 0 0 calc(#{$paddingBasic} * 0.7);
  font-size: $bodyFontSize;
}

.clause {
  box-sizing: border-box;
  margin: 0 0 calc(#{$paddingBasic} * 1.5);
}

.clause:last-child {
  margin: 0;
}

.paragraph {
  margin: 0 0 calc(#{$paddingBasic} * 0.4);
  text-align: justify;
}

.paragraph:last-child {
  margin: 0;
  text-align: justify;
}

// .textBackgroundOnWallpaper {
//   background-color: rgba(255, 255, 255, .9);
//   box-shadow: 0 0 10px 10px rgba(255, 255, 255, .9);
// }
