@import "../../css-variables.scss";

.overlay {
  position: fixed;
  top: 74px;
  left: 0;
  // left: calc((100% - #{$PW_DESKTOP_MAX}) / 2);
  width: 100vw;
  height: calc(100vh - 74px);
  background-color: rgba(46, 92, 132, .65);
  
  &_withCloseIcon {
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
}

.overlay__close-icon {
  position: absolute;
  top: 0px;
  right: 0;
  width: 40px;
  background-color: rgba(46, 92, 132, 0.3);
  height: 40px;
  margin: 10px;
  padding: 20px;
  border-radius: 50%;

  & path {
    fill: $PALE_BLUE;
  }

  &:hover path {
    fill: $BRIGHT_BLUE_GREEN;
  }

  &:active path {
    fill: $WHITE;
  }
}
