@import "../../css-variables.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  // left: calc((100% - #{$PW_DESKTOP_MAX}) / 2);
  width: 100%;
  height: 100%;
  background-color: rgba(46, 92, 132, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.overlay__close-icon {
  position: absolute;
  top: 0px;
  right: 0;
  width: 40px;
  background-color: rgba(46, 92, 132, 0.3);
  height: 40px;
  padding: 30px;

  & path {
    fill: $PALE_BLUE;
  }

  &:hover path {
    fill: $BRIGHT_BLUE_GREEN;
  }

  &:active path {
    fill: $WHITE;
  }
}
