// @import "../UIControlsGlobals";
@import "../../../css-variables.scss";

.pin {
  &_type_flat {
    fill: $PALE_BLUE;

    .button:hover & {
      fill: $BRIGHT_BLUE_GREEN;
    }

    .button:active & {
      fill: white;
    }
  }

  &_direction_right {
    transform: rotate(0deg);
  }

  &_direction_up {
    transform: rotate(-90deg);
  }

  &_direction_down {
    transform: rotate(90deg);
  }
}
