// @import "../UIControlsGlobals";
@import "../../../css-variables.scss";

.pin {
  // &_position {
  //   &_right_of_label {
  //   }
  //   &_parent_size {
  //   }
  // }

  &_type_flat {
    fill: $PALE_BLUE;

    .button:hover & {
      fill: $BRIGHT_BLUE_GREEN;
    }

    .button:active & {
      fill: $WHITE;
    }
  }

  &_type_domed {
    .button:hover & {
      // background-color: linear-gradient(228.01deg, #176087 4.74%, #97c8eb 100%);
      // background-color: $BRIGHT_BLUE_GREEN;
      // filter: drop-shadow(0 0 4px $BRIGHT_BLUE_GREEN);
      // box-shadow: 0 0 4px 4px $BRIGHT_BLUE_GREEN;
    }

    .button:active & {
      fill: $WHITE;
    }
  }

  &_direction_right {
    transform: rotate(0deg);
  }

  &_direction_up {
    transform: rotate(-90deg);
  }

  &_direction_down {
    transform: rotate(90deg);
  }
}
