// SIZE
/* Some of these wouldn't compile when with calc */
$PW_NOTEBOOK: 1240px;
$PW_TABLET: 896px;
$PW_NOTEBOOK_MIN: 897px;
$PW_DESKTOP_HEADER_MIN: 701px;
$PW_MOB_HEADER_MAX: 700px;

$paddingBasic: calc(5px + 1.94vw);
// COLOUR
$DARK_BLUE: #176087;
$PALE_BLUE: #97C8EB;
$BRIGHT_BLUE_GREEN: #64E9EE;
$DARK_BLUE_GREEN: #3AAFB9;
$WHITE: #FFFFFF;

// FONT
$FS1240_HEADER_AND_COVER_NAME: calc(min(max(17px, 3.468vw), 43px));
$FS1240_SECTION_TITLE: calc(min(max(14px, 3.226vw), 40px));
$FS1240_SECTION_SUBTITLE: calc(min(max(13px, 2.258vw), 28px));
$FS1240_CARD_TITLE: calc(min(max(13px, 2.016vw), 25px));
$FS1240_COVER_CONTROLS: calc(min(max(18px, 1.774vw), 22px));
$FS1240_CARD_BODY: calc(min(max(12px, 1.774vw), 22px));
$FS1240_FOOTER_TITLE: calc(min(max(13px, 1.774vw), 22px));
$FS1240_HEADER_MENU: calc(min(max(15px, 1.613vw), 20px));
$FS1240_SECTION_BODY: calc(min(max(12px, 1.613vw), 20px));
$FS1240_HEADER_SUBMENU: calc(min(max(15px, 1.371vw), 17px));
$FS1240_FOOTER_BODY: calc(min(max(12px, .968vw), 12px));

$FS896_HEADER_AND_COVER_NAME: calc(min(max(17px, 4.018vw), 36px));
$FS896_SECTION_TITLE: calc(min(max(14px, 2.790vw), 25px));
$FS896_SECTION_SUBTITLE: calc(min(max(13px, 2.232vw), 20px));
$FS896_CARD_TITLE: calc(min(max(13px, 2.009vw), 18px));
$FS896_COVER_CONTROLS: calc(min(max(18px, 2.009vw), 18px));
$FS896_CARD_BODY: calc(min(max(12px, 1.786vw), 16px));
$FS896_FOOTER_TITLE: calc(min(max(13px, 2.232vw), 20px));
$FS896_HEADER_MENU: calc(min(max(15px, 1.786vw), 16px));
$FS896_SECTION_BODY: calc(min(max(12px, 1.786vw), 16px));
$FS896_HEADER_SUBMENU: calc(min(max(15px, 1.674vw), 15px));
$FS896_FOOTER_BODY: calc(min(max(12px, 1.116vw), 10px));

$FS320_HEADER_AND_COVER_NAME: calc(min(max(17px, 6.875vw), 22px));
$FS320_SECTION_TITLE: calc(min(max(14px, 6.250vw), 20px));
$FS320_SECTION_SUBTITLE: calc(min(max(13px, 5.625vw), 18px));
$FS320_CARD_TITLE: calc(min(max(13px, 5.625vw), 18px));
$FS320_COVER_CONTROLS: calc(min(max(18px, 5.625vw), 18px));
$FS320_CARD_BODY: calc(min(max(12px, 5.000vw), 16px));
$FS320_FOOTER_TITLE: calc(min(max(13px, 5.625vw), 18px));
$FS320_HEADER_MENU: calc(min(max(15px, 4.688vw), 15px));
$FS320_SECTION_BODY: calc(min(max(12px, 5.000vw), 16px));
$FS320_HEADER_SUBMENU: calc(min(max(15px, 4.688vw), 15px));
$FS320_FOOTER_BODY: calc(min(max(12px, 3.125vw), 10px));
$FS320_MOB_MENU: calc(min(max(14px, 5.625vw), 18px));

// composes: cormorantInfantBoldItalic from './vendor/fonts/fonts.scss';
// .cormorantInfantBoldItalic {
//   font-family: "Cormorant Infant", serif;
//   font-weight: 700;
//   font-style: italic;
// }

// composes: robotoItalic from './vendor/fonts/fonts.scss';
// .robotoItalic {
//   font-family: "Roboto", serif;
//   font-weight: 300;
//   font-style: italic;
// }
// V1

$basicFontSize: 17px;
$logoFontSize: calc(#{$basicFontSize} + 3.67vw);
$logoNameFontSize: calc(#{$basicFontSize} + 2.58vw);
$menuFontSize: calc(#{$basicFontSize} + .83vw);
$bodyFontSize: calc(#{$basicFontSize} + .5vw);
$sectionHeadlineFontSize: calc(#{$basicFontSize} * 1.6 + .5vw);
$sectionSidebarSpacing: calc(#{$paddingBasic} * .5);
$desktopSidebarWidth: 23vw;
$desktopSectionBodyWidth: calc(100vw - #{$desktopSidebarWidth} - #{$paddingBasic} * 3);
// $desktopSidebarWidth: calc(100vw - #{$desktopSectionBodyWidth});
// $profilePhotoOriginalWidth: 384px;
// $profilePhotoOriginalHeight: 846px;
// $docProfilePageWidth: calc((#{$paddingBasic} + #{$docProfilePhotoWidth}) * 2);
