// SIZE
$paddingBasic: calc(5px + 3vw);
$basicFontSize: 17px;
$logoFontSize: calc(#{$basicFontSize} + 3.67vw);
$logoNameFontSize: calc(#{$basicFontSize} + 2.58vw);
$menuFontSize: calc(#{$basicFontSize} + .83vw);
$bodyFontSize: calc(#{$basicFontSize} + .5vw);
$sectionHeadlineFontSize: calc(#{$basicFontSize} * 1.6 + .5vw);
// $profilePhotoOriginalWidth: 384px;
// $profilePhotoOriginalHeight: 846px;
// $docProfilePageWidth: calc((#{$paddingBasic} + #{$docProfilePhotoWidth}) * 2);
// COLOUR
// FONT STYLES

// composes: cormorantInfantBoldItalic from './vendor/fonts/fonts.scss';
// .cormorantInfantBoldItalic {
//   font-family: "Cormorant Infant", serif;
//   font-weight: 700;
//   font-style: italic;
// }

// composes: robotoItalic from './vendor/fonts/fonts.scss';
// .robotoItalic {
//   font-family: "Roboto", serif;
//   font-weight: 300;
//   font-style: italic;
// }
